body {
    background: black;
    color: #ddd;
    font-family: monospace, monospace;
    font-size: 16px;
    align: center;
    margin-inline: max(1ch, 50% - 80ch / 2);
    line-height: 1.2;
}

::selection {
    color: white;
    background: #f0f;
}

h1,
h2,
h3 {
    color: white;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 16px;
    font-weight: 1100;
    line-height: 1.2;
}

h1::before {
    content: "# ";
}

h2::before {
    content: "## ";
}

h3::before {
    content: "### ";
}

ul {
    list-style-type: none;
    padding: 0;
    padding-left: 1ch;
}

ul > li::before {
    content: " - ";
}

ol {
    padding: 0;
    padding-left: 4ch;
}

a {
    color: #f0f;
    white-space: nowrap;
}

a:hover {
    color: #000;
    background: #f0f;
}

a.wrap {
    white-space: normal;
}

.nowrap {
    white-space: nowrap;
}

code {
    display: inline-block;
    background: #333;
    border: solid gray;
    border-width: 1px;
}

aside {
    color: #0ff;
}

aside > p::before {
    content: "> ";
}

header {
    text-align: right;
    width: round(min(100%, 80ch), 1ch);
}

header > a {
    display: inline-block;
    text-decoration: none;
    margin-left: 1ch;
}

header::before {
    display: block;
    content: "================================================================================";
    overflow: hidden;
}

header::after {
    display: block;
    content: "================================================================================";
    overflow: hidden;
}

.scroll-container {
    width: round(min(100%, 80ch), 1ch);
    overflow-x: auto;
}

.comment::before {
    content: "\/* "
}

.comment::after {
    content: " */"
}

.comment {
    color: #777777;
}


a.clean {
    text-decoration: none;
}

a > h1 {
    display: inline-block;
}

a > h1:hover {
    background-color: white;
    color: black;
}

a > h2 {
    display: inline-block;
}

a > h2:hover {
    background-color: white;
    color: black;
}

a > h3 {
    display: inline-block;
}

a > h3:hover {
    background-color: white;
    color: black;
}


/* yes, this solution is stupid */

@media only screen and (max-width: 45ch) {
    header {
        text-align: left;
    }

    header > a {
        display: block;
    }
}

@media only screen and not (max-width: 45ch) {
    header > a.filesystem-root::before {
        content: "\2003";
    }

    header > a.filesystem-root::after {
        content: "\2003";
    }
}
